In [1]:
for i in range(1, 6):
    j = 0
    while j < i:
        print(j, end = " ")
        j += 1
    print("")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [2]:
i = 0
while i < 5:
    j = i
    while j > 0:
        print(j, end=" ")
        j -= 1
    i += 1
    print("")

1
2 1
3 2 1
4 3 2 1

In [3]:
i = 5
while i > 0:
    j = i
    while j > 0:
        print(j, end=" ")
        j -= 1
    i -= 1
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [5]:
print(1, 2, 3, sep = "$")
print(4, 5, 6, end = "#")
print(7, 8, 9, sep = "_", end = "!")

1$2$3
4 5 6#7_8_9!

In [7]:
myString = "DEF"
myString *= 2
myString += "GHI"
myString = "ABC" + myString
print(myString)

ABCDEFDEFGHI

In [8]:
myDictionary = {'Cinderella':'blue', 'Belle':'yellow', 'Mulan':'red', 'Tiana':'green', 'Rapunzel':'purple'}
print(myDictionary)

{'Cinderella': 'blue', 'Belle': 'yellow', 'Mulan': 'red', 'Tiana': 'green', 'Rapunzel': 'purple'}

In [10]:
monthlySpending = {"food":150, "rent":750, "electric":100}

In [15]:
found = "" in "Welcome to CS1301!"
print(found)

True

In [18]:
gradebook = {"David": 17, "Sasha": 21, "Jing": 16, "Lucy": 19, "Marguerite": 20, "Maria": 22}
gradebook["David"] = 19
gradebook

{'David': 19,
 'Sasha': 21,
 'Jing': 16,
 'Lucy': 19,
 'Marguerite': 20,
 'Maria': 22}

In [1]:
cities = ["New York", "Shanghai", "Munich", "Tokyo",
          "Dubai","Mexico City", "São Paulo", "Hyderabad"]

a_city = []  # city name with 'a' or 'A' 
no_a_city = []  # city name without 'a' or 'A'

# your code is here


print("city's name with 'a':",a_city)
print("city's name without 'a':",no_a_city)

city's name with 'a': []
city's name without 'a': []

In [2]:
bool1 = True
bool2 = bool1
bool1 = False
print(bool2)

True

In [3]:
int1 = 5
int2 = int1
int1 += 2
print(int2)

5

In [4]:
from datetime import date
myVar1 = True
myVar2 = date.today()
myVar3 = myVar2.day

In [7]:
type(myVar2)

datetime.date

In [1]:
cities = ["New York", "Shanghai", "Munich", "Tokyo",
          "Dubai","Mexico City", "São Paulo", "Hyderabad"]

a_city = []  # city name with 'a' or 'A' 
no_a_city = []  # city name without 'a' or 'A'

# your code is here
for i in cities:
    for j in range(len(i)):
        if i[j]=='a'or i[j]=='A':
            a_city.append(i)
        else:
            continue
    if i in a_city:
        continue
    else:
        no_a_city.append(i)

print("city's name with 'a':",a_city)
print("city's name without 'a':",no_a_city)

city's name with 'a': ['Shanghai', 'Shanghai', 'Dubai', 'São Paulo', 'Hyderabad', 'Hyderabad']
city's name without 'a': ['New York', 'Munich', 'Tokyo', 'Mexico City']